/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

a {
    color: inherit;
    text-decoration: none;
}

h3{
    margin: 0;
    font-size: 18px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    margin: 0;
}

.card-subtitle {
    margin: 0;
}

.card-rating {
    margin-bottom: 5px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/***************** Navigation section *********************/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 68px;
}

.logo-header{
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo-header img{
    height: 19px;
}

nav a{ 
    width: 100%;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 12.6px;
}

/************ Research section ***********************/
.research{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.research p{
    margin: 0;
}

.head-line{
    display: flex;
    flex-direction: column;
    gap : 8px;
}

.research form {
    max-width: 377px;
    width: 100%;
    height: 49px;
    display: flex;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
}

.logo-localisation{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
}

.fa-location-dot {
    color: black;
}

form input{
    flex: 1;
    border: none;
    text-align: center;
}

.research-button{
    width: 132px;
    font-size: 18px;
    font-weight: bold;
    color: #F2F2F2;
    background-color: #0065FC;
    border: none;
    border-radius: 0px 15px 15px 0;
    cursor: pointer;
}

.fa-magnifying-glass{
    display: none;
    color: #F2F2F2;
    height: 17px;
}

/************* Filters section ************************/
.filters-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.filters-container {
    display: flex;
    gap: 15px;
}

.filters-elements{
    display: flex;
    justify-content: start;
    gap: 15px;
}

.btn-filter{
    height: 50px;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    border: solid 2px #d9d9d9;
    border-radius: 25px;
    padding: 4px 19px;
}

.btn-filter:hover{
    background-color: #DEEBFF;
}

.info{
    display: flex;
    align-items: center;
    gap: 10px;
}


.icon-fa-info{
    width: 24px;
    height: 24px;
    border: 1px solid #d9d9d9;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/****** Lodgings and populars section ***********/
.lodgings-and-populars {
    display: flex;
    justify-content: space-between;
}

.lodgings-and-populars section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Lodging section ***********/
.lodgings {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.lodging-cards a{
    width: 100%;
}

.lodging-cards{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.lodging-cards .card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.lodging-cards img{
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.lodging-cards .card-content {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 8px;
}

.lodging-cards .card-title {
    margin-top: 10px;
    margin-bottom: 8px;
}


.see-more{
    margin: 0;
    padding: 0;
    width: 110px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
}

/****** Popular section ***********/
.populars {
    width: 32%;
    margin: 0;
}

.populars-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populars-cards .card {
    display: flex;
    margin-top: 33px;
}

.populars-cards img {
    width: 33%;
    height: 146px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populars-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populars-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}


/********** Activitie section ***************/
.activities{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.activities-cards-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.activities-cards-container a{
        width: 100%;
    }

.activities-cards-container img{
    height: 380px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities-cards-container .card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.activities-cards-container .card-txt{
    padding: 20px 19px;
}


/************* Footer section **********************************/
footer {
    background-color: #F2F2F2;
    display: flex;
}

footer div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    box-sizing: border-box;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /** Filters section **/
    .filters-section{
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    .btn-filter{
        font-size: 16px;
    }

    /** Lodgings and populars section **/
    .lodgings-and-populars {
        flex-direction: column;
    }

    /** Loging section **/
    .lodgings {
        width: 100%;
    }

    /** Popular section **/
    .populars {
        width: 100%;
        margin-top: 50px;
    }

    .populars-cards {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .populars-cards a {
        flex: 1;
    }

    .populars-cards .card-subtitle {
        font-size: 13px;
    }

    /** Activite section **/
    .activities-cards-container img{
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {

    .main-container{
        padding: 0px;
    }
    

    /** Navigation section **/
    header {
        flex-direction: column;
        align-items: center;
    }

    .menu-container{
        width: 100%;
    }

    nav{
       gap: 0px;
    }

    nav a{ 
        padding-top: 0px;
    }
    
    nav a:hover {
        border-top: none;
        border-bottom: 2px solid #0065FC;
        padding-bottom: 12.6px;
        padding-top: 0px;
    }

    /** Research section **/
    .research{
        padding: 0 20px;
    }
    
    .research form {
        max-width: 335px;
    }
    
    .research-button{
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        width: 49px;
        border-radius: 15px;
    }

    .research-button .txt {
        display: none;
    }

    .research-button .fa-magnifying-glass{
        display: inline;
    }
    
    /** Filters section **/
    .filters-section{
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    .filters-container{
        width: 100%;
        flex-direction: column;
    }
    
    .filters-elements{
        width: 100%;
        gap: 10px;
        flex-wrap: wrap;
    }
    
    .btn-filter{
        font-size: 14px;
        flex: 1;
    }

    /** Lodgings and populars section **/
    .lodgings-and-populars {
        flex-direction: column-reverse;
        gap: 15px;
    }

    .lodgings-and-populars section {
        border-radius: 0px;
        padding: 35px 20px; 
    }

    .lodgings-and-populars section:not(.populars) {
        background-color: transparent;
        padding: 20px;
    }

    /** Populars section **/
    .populars {
        margin-top: 0;
    }

    .populars-cards{
        flex-direction: column;
    }

    .populars-cards a{
        width: 100%;
    }

    .populars-cards .card{
        margin-top: 15px;
    }

    /** Lodging section **/
    .lodgings{
        gap: 15px;
    }
    
    .lodging-cards{
        flex-direction: column;
        gap: 15px;
    }

    .lodging-cards a{
        width: 100%;
    }
    
    /** Activitie section **/
    .activities-cards-container{
        flex-direction: column;
        gap: 15px;
    }
    
    .activities-cards-container img{
        height: 141px;
    }
    
    /** Footer section **/
    footer {
        margin-top: 0;
        gap:50px;
        flex-direction: column;
        padding: 30px;
    }
    
    footer div {
        padding: 0;
        padding-bottom: 0;
    }
    
}